<h2><%= @league.name %></h2>
<ul>
  <li><label>League Type: </label><%= @league.league_type %>
  <li><label>Schedule: </label><%= @league.schedule %>
  <li><label>League Admin: </label><%= @league.player.name %>
</ul>
