<h2>Leagues</h2>
<% if @player.leagues.any? %>
  <% @player.leagues.each do |league| %>
    <%= link_to "#{league.name}", league_path(league) %><br>
  <% end %>
<% else %>
<p>No Leagues currently assigned.</p>
<% end %>
<%= link_to "Create a new League", new_player_league_path(@player) %><br>

<h2>Recently Sent Invitations</h2>

<%= render 'recent' %>


<%= link_to "New Invitation", new_player_invitation_path(@player) %><br>
