<%= render 'admin_leagues' %>

<h4><%= link_to "Create a new League", new_player_league_path(@player) %></h4>

<div class="section">
  <h2>Recently Sent Invitations</h2>
</div>

<%= render 'recent' %>

<h4><%= link_to "Send New Invitation", new_player_invitation_path(@player) %></h4>
