<div class='row'>
  <h3 class="eight columns">Active Leagues as Player</h3>
  <div class="four columns">
    <% if @player.invitations.approved.any? %>
  <% @player.invitations.approved.each do |i| %>
    <%= link_to "#{i.league.name}", league_path(i.league) %>
  <% end %>
<% else %>
  <p>No active Leagues</p>
<% end %>
  </div>
</div>
