<% if @player.errors.any? %>
  <div class="row" id="error_explanation">
    <h5>
      <%= pluralize(@player.errors.count, "error") %>
      prohibited this player from being saved:
    </h5>

    <ul>
    <% @player.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
