<% if @player.invitations.pending.any? %>
  <% @player.invitations.pending.each do |i| %>
  Invitation Recieved from <%= i.league_name %> on <%= i.created_date %>, courtesy of <%= i.admin_name %>.
  <% end %>
<% else %>
  <p>No pending invitations</p>
<% end %>
